<div class="col">
<div class="card border-primary">
  <div class="card-body">
    <h5 class="card-title">
      <%= ogla.naziv %>   
    </h5>
    <h6 class="card-subtitle mb-2 text-muted">Kategorija <b><%= ogla.kategorija %></b></h6>
    <p class="card-text">Vrijedi do <b><%= ogla.do %></b></p>
      <div class="d-flex">
          <%= render partial: "show_link", locals: {ogla: ogla} %>
   <!-- <a href="#" class="card-link me-auto">Card link</a> -->
          <%= render partial: "znacka", locals: {ogla: ogla} %>
      </div>

  </div>
</div>
</div>
