<p id="notice"><%= notice %></p>

<h1>Svi oglasi</h1>


<div class="list-group">
  <% @oglas.each do |ogla| %>
    <%= link_to(ogla, class: "list-group-item list-group-item-action flex-column align-items-start") do %>
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1"> <%= ogla.naziv %> </h5>
        <small> do <strong> <%= ogla.do %> </strong> </small>
      </div>
      <p class="mb-1"> <%= ogla.opis %> </p>
      <small> <%= ogla.kategorija %> </small>
    <% end %>
      
  <% end %>
  
</div>

