<p id="notice"><%= notice %></p>

<p>
  <strong>Naziv:</strong>
  <%= @ogla.naziv %>
</p>

<p>
  <strong>Opis:</strong>
  <%= @ogla.opis %>
</p>

<p>
  <strong>Poslodavac:</strong>
  <%= @ogla.poslodavac %>
</p>

<p>
  <strong>Email:</strong>
  <%= @ogla.email %>
</p>

<p>
  <strong>Kategorija:</strong>
  <%= @ogla.kategorija %>
</p>

<p>
  <strong>Od:</strong>
  <%= @ogla.od %>
</p>

<p>
  <strong>Do:</strong>
  <%= @ogla.do %>
</p>

<%= link_to 'Edit', edit_ogla_path(@ogla) %> |
<%= link_to 'Back', oglas_path %>
