<h1>Uspješno ste se prijavili na oglas</h1>

<p>Detalji oglasa</p>
<p>
  <%= @prijava.ime_i_prezime %> Uspješno ste se prijavili na oglas
</p>
<p>
  <%= @prijava.dat_rodenja %>
</p>
<p>
  <%= @prijava.email %>
</p>
<p>
<%= @prijava.telefon %>
</p>
<p>
<%= @prijava.boraviste %>
</p>
<p>
<%= @prijava.str_sprema %>
</p>
