<h1>Uspješna prijava, bravo</h1>

<p>
  <%= @prijava.ime_i_prezime %>
</p>
<p>
  <%= @prijava.dat_rodenja %>
</p>
<p>
  <%= @prijava.email %>
</p>
<p>
<%= @prijava.telefon %>
</p>
<p>
<%= @prijava.boraviste %>
</p>
<p>
<%= @prijava.str_sprema %>
</p>
