


<!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <%= form_with(model: @prijava, url: create_prijava_path(@ogla)) do |form| %>
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Prijava na oglas</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            
 
  <% if @prijava.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@prijava.errors.count, "error") %> prohibited this prijavas from being saved:</h2>

      <ul>
        <% @prijava.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>terminal
      </ul>
    </div>
  <% end %>


 <div class="form-group row">  
    <%= form.label(:ime_i_prezime, class: "col-sm-4 col-form-label") %>
    <div class="col-sm-8">
      <%= form.text_field(:ime_i_prezime, class: "form-control") %>
    </div>  
  </div>
<div class="form-group row">  
    <%= form.label(:dat_rodenja, class: "col-sm-4 col-form-label") %>
    <div class="col-sm-8">
      <%= form.date_field(:dat_rodenja, class: "form-control") %>
    </div>  
  </div>
<div class="form-group row">  
    <%= form.label(:email, class: "col-sm-4 col-form-label") %>
    <div class="col-sm-8">
      <%= form.email_field(:email, class: "form-control") %>
    </div>  
  </div>
<div class="form-group row">  
    <%= form.label(:telefon, class: "col-sm-4 col-form-label") %>
    <div class="col-sm-8">
      <%= form.telephone_field(:telefon, class: "form-control") %>
    </div>  
  </div>
<div class="form-group row">  
    <%= form.label(:boraviste, class: "col-sm-4 col-form-label") %>
    <div class="col-sm-8">
      <%= form.text_field(:boraviste, class: "form-control") %>
    </div>  
  </div>
<div class="form-group row">  
    <%= form.label(:str_sprema, class: "col-sm-4 col-form-label") %>
    <div class="col-sm-8">
      <%= form.select(:str_sprema, ["Izaberi ...", "VSS", "VŠS", "SSS", "NK"], {selected: "Izaberi ..."}, {class: "form-control"}) %>
    </div>  
  </div>
           
            <div class="form-group row">  
    <%= form.label(:zivotopis, class: "col-sm-4 col-form-label") %>
    <div class="col-sm-8">
      <%= form.file_field(:zivotopis, class: "form-control") %>
    </div>  
  </div> 


          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Odustani</button>
            <%= form.submit "Podnesi", class: "btn btn-primary" %>


<% end %>
          </div>
        </div>
      </div>
    </div>