
<%= form_with(model: @prijava, url: create_prijava_path(@ogla)) do |form| %>
  <% if @prijava.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@prijava.errors.count, "error") %> prohibited this prijavas from being saved:</h2>

      <ul>
        <% @prijava.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>terminal
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :ime_i_prezime %>
    <%= form.text_field :ime_i_prezime %>
  </div>

  <div class="field">
    <%= form.label :dat_rodenja %>
    <%= form.date_field :dat_rodenja %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.email_field :email %>
  </div>

  <div class="field">
    <%= form.label :telefon %>
    <%= form.telephone_field :telefon %>
  </div>

  <div class="field">
    <%= form.label :boraviste %>
    <%= form.text_field :boraviste %>
  </div>

  <div class="field">
    <%= form.label :str_sprema %>
    <!--  moram sljedeći niz nekako povezati sa OPTIONS iz modela prijave  -->
    <%= form.select :str_sprema, ["VSS", "VŠS", "SSS", "NK"], selected: "VSS"   %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
